@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --white: #ffffff;
  --red: #d64550;
  --green: #70b77e;
  --dark-green: #1c2826;
  --yellow: #ffd400;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
